:root {
  --orange: #F2A413;
  --red: #F23207;
  --blue: #1C77D4;
  --dark-green: #4A752D;

  --grass-highlight: #BEE17D;
  --grass-highlight-trans: #BEE17D0F;
  --grass-dark: #A2D049;
  --grass-light: #A9D751;

  --dirt-light: #E4C29F;
  --dirt-dark: #D7B899;
  --dirt-darker: #d4985b;

  --marker-1: black;
  --marker-2: #1C77D4;
  --marker-3: red;
  --marker-4: red;
  --marker-5: red;
  --marker-6: red;
  --marker-7: red;
  --marker-8: red;
}

.gridwrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  max-width:800px;
}

.gridheader {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: var(--dark-green);
  padding: 1em;
  vertical-align: middle;
  text-shadow: None;
}

.grid {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 800px;
  border-radius: 10px;
  text-align: center;
}

.tile {
  /* height:100%; */
  font-weight: 900;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 100%;

}

.tile::before {
  display: block;
  content: attr(data-content);
}

.tile[data-tilePattern="even"] {
  background-color: var(--dirt-light);
}

.tile[data-tilePattern="odd"] {
  background-color: var(--dirt-dark);
}

.tile[data-tileValue="H"][data-tilePattern="even"],
.tile[data-tileValue="F"][data-tilePattern="even"] {
  background-color: var(--grass-light);
}

.tile[data-tileValue="H"][data-tilePattern="odd"],
.tile[data-tileValue="F"][data-tilePattern="odd"]  {
  background-color: var(--grass-dark);
}

.tile[data-tileValue="H"]:hover,
.tile[data-tileValue="F"]:hover {
  background-color: var(--grass-highlight);
}

.tile[data-tileValue="1"]{
  color: var(--marker-1);
}.tile[data-tileValue="2"]{
  color: var(--marker-2);
}.tile[data-tileValue="3"]{
  color: var(--marker-3);
}.tile[data-tileValue="4"]{
  color: var(--marker-4);
}.tile[data-tileValue="5"]{
  color: var(--marker-5);
}.tile[data-tileValue="6"]{
  color: var(--marker-6);
}.tile[data-tileValue="7"]{
  color: var(--marker-7);
}.tile[data-tileValue="8"]{
  color: var(--marker-8);
}
.tile[data-tileValue="M"]{
  background-color: var(--dirt-darker);
}

#progress {
  background: var(--grass-highlight-trans);
  flex-grow: 1;
  position: relative;
  text-align: center;
  font-weight: 900;
  margin-left: 1em;
  margin-right: 1em;
  /* padding-top: 0.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress:before {
  background-image: url('../media/F.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 5vw;
  max-width: 2em;
  height: 5vw;
  max-height: 2em;
  content:"";
}

#progress[data-done="true"]:before {
  background-image: None;
  display:none;
  width: 5vw;
  max-width: 2em;
  height: 5vw;
  max-height: 2em;
}

#timer {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer:after {
  background-image: url('../media/hourglass.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 5vw;
  max-width: 2em;
  height: 5vw;
  max-height: 2em;
  content:"";
}
